*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
   
}
body{
    background-color: rgb(255, 255, 255);
}
html{
    font-size: 15px;
}
hr{
    border: 2px solid white;
    margin: 3rem 0;
}
/* banner area starts here */
.wrapper{
    width: 100%;
    background-image: linear-gradient(180deg, rgb(255, 255, 255), rgb(50, 174, 223));

}

.intro {
    margin-top: 3rem;
}
.building img{
    width: 70%;
}
.aeroplane {
    width: 20%;
    position: absolute;
    margin-left: 24rem;

}
.intro h1{
    font-size: 4rem;
    font-weight: 400;
    color: rgb(107, 194, 252);
    animation: filter 6s linear 2s infinite;
}
.intro h2{
    font-size: 5rem;
    font-weight: 500;
    color: rgb(107, 194, 252);
   
   
}
.intro p{
    font-size: 1.5rem;
    margin-bottom: 3rem;
    color: rgb(50, 156, 228);
    animation: filter 6s linear 2s infinite;
}
@keyframes filter {
    0%{color: rgb(50, 156, 228);}
    50%{color: rgb(162, 255, 41);}
    80%{color: rgb(255, 217, 0);}
    100%{color: rgb(50, 156, 228);}
}
/* work area */
.work-heading {
    width: 100%;
}
.work-heading h2{
    text-align: center;
    padding: 5%;
    font-size: 4rem;
    margin-bottom: 3rem;
    color: rgb(255, 255, 255);
    margin-top: 4rem;
    background-color: rgb(50, 174, 223);
}


.border-1{
    border: 2px solid rgb(0, 81, 255);
}
.border-2{
    border: 2px solid rgb(1, 29, 1);
}
.border-3{
    border: 2px solid rgb(1, 185, 115);
}
.border-4{
    border: 2px solid rgb(88, 0, 88);
}
.work img{
    width: 90%;
    margin-bottom: 4rem;
    
    
}
/* footer area */
footer{
    width: 100%;
    padding: 3%;
    background-image: linear-gradient(180deg, rgb(0, 174, 255), rgb(9, 109, 148));
}
footer p{
    font-size: 1rem;
    color: #fff;
    font-weight: 300;
}
/* media query */
@media only screen and (max-width: 600px){
    .aeroplane{
        margin-left: 8rem;
    }
}